<h1>Students#new</h1>
<p>Find me in app/views/students/new.html.erb</p>

<%= form_for :students, url: students_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :department %><br>
    <%= f.text_field :dept %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>